.react-calendar .react-calendar__tile--now {
  background: green; /* default sarı */
  color: white;
  border-radius: 50%;
}
.react-calendar .lesson-day {
  background-color: red;
  color: white;
  border-radius: 50%;
}
